/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

tr.issue { text-align: left;}
table.issues thead tr {text-align: left;}
.odd {background-color: white;}

.controller-issues+.action-index #sidebar {
	display: none;
}

.controller-issues+.action-index #content {
	width: auto;
}

#header {
	background: #333333 url(../images/intaxi_bg.png);
}

#header h1 {
	padding: 0.2em 0.5em 0.3em 0.5em;
	background-color: rgba(0,0,0,0.7);
	display: inline;
	border-radius: 0.5em;
}

#header a {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.5em 0.5em 0 0;

}