/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

tr.issue { text-align: left;}
table.issues thead tr {text-align: left;}
.odd {background-color: white;}

.controller-issues+.action-index #sidebar {
	display: none;
}

.controller-issues+.action-index #content {
	width: auto;
}

#top-menu {
    background: #000;
    height: 2em;
    line-height: 2em;
}

#header {
    height: 56px;
    height: auto;
    padding: 8px 0 0 0;
    background: #575757; /* Old browsers */
    background: -moz-linear-gradient(top,  #575757 0%, #232323 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#232323)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #575757 0%,#232323 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #575757 0%,#232323 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #575757 0%,#232323 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #575757 0%,#232323 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#232323',GradientType=0 ); /* IE6-9 */
}

#header h1 {
	display: inline-block;
    width: 118px;
    height: 45px;
    margin: 0.2em 0.5em 0.3em 0.5em;
    background: transparent url('../images/logo2x.png') no-repeat 0 0;
    -webkit-background-size: 118px 45px;
       -moz-background-size: 118px 45px;
         -o-background-size: 118px 45px;
            background-size: 118px 45px;
    text-indent: -2000px;
    overflow: hidden;
}

#header a {
	/*background-color: rgba(0,0,0,0.7);*/
	border-radius: 0.5em 0.5em 0 0;
}

#main-menu {
    position: relative;
    left: 0;
    margin: 0;

    height: 26px;
    line-height: 20px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #7e7e7e;

    background: #cdcecd; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdcecd 0%, #a8a8a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcecd), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdcecd 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdcecd 0%,#a8a8a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdcecd 0%,#a8a8a8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cdcecd 0%,#a8a8a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcecd', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */

}
#main-menu ul {
    height: 29px;
}
#main-menu li {
    display: inline-block;
    float: none;
    list-style-type: none;
    margin: 0 2px 0 0;
    padding: 0;
    white-space: nowrap;
}
#main-menu li a {
    color: #44444f;
    text-shadow: 0 1px 1px #FFF;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    border-radius: 0;
}
#main-menu li a:hover {
    background: transparent;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

